/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

/*
Change Quick Sidebar Width
*/

/*
.page-quick-sidebar-wrapper {
  right: -370px;
  width: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-left: -370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-footer {
  margin-right: 370px;
  margin-left: -370px;
}

.page-sidebar-reversed.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-right: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content.page-quick-sidebar-full-height .page-header {
  margin-left: -370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-list {
  width: 370px !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item {
  width: 370px !important;
  margin-left: 370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list {
  margin-left: -370px;
}
*/
.quick_searchbar {
  margin-top: 5px;
}
.quick_searchbar input[type=text] {
  background-color: transparent !important;
}
.quick_searchbar .tt-hint{
  background-color: transparent !important;
}
.quick_searchbar #typeahead_example_3 {
  border: 0 !important;
  border-bottom: 1px solid rgb(67, 80, 96) !important;
  color: #fff;
}
.quick_searchbar .input-group-addon {
  background-color: transparent !important;
  border: 0 !important;
  border-bottom: 1px solid rgb(67, 80, 96) !important;
}

@media screen and (max-width: 994px) and (min-width: 0px)
{
  .quick_searchbar {

    margin-bottom: 8px;
  }

  .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
    background-color: transparent;
  }
  .page-header.navbar .top-menu .navbar-nav {
    margin-bottom: 5px;
  }
  .top-menu{
    float:none !important;

  }
  .top-menu ul.nav{
    width:95%;
  }
  .top-menu ul.nav li.dropdown{
    float:none;
    width: 50%;

  }
  .top-menu ul.nav li.dropdown ul.dropdown-menu{
    left: 0;
  }

}

.tt-dropdown-menu {
  max-height: 500px;
}

a.no-underline {
  text-decoration: none;
  color: #666;
}

.pac-container {
  z-index: 89999;
}

.dropdown-company {
  width: 250px !important;
}


/* Chat customization */

.chat-form {
  margin-top: 15px;
  padding: 10px;
  background-color: #e9eff3;
  overflow: hidden;
  clear: both;
}
.chat-form .input-cont {
  margin-right: 40px;
}
.chat-form .input-cont .form-control {
  border: 1px solid #ddd;
  width: 95%  !important;
  margin-top: 0;
  background-color: #fff !important;
}
.chat-form .input-cont .form-control:focus {
  border: 1px solid #4b8df9 !important;
}
.chat-form .btn-cont {
  margin-top: -42px;
  position: relative;
  float: right;
  width: 44px;
  margin-right: 47px;
}
.chat-form .btn-cont-attachment {
  float: right;
  margin-top: -34px;
  width: 49px;

}
.chat-form .btn-cont .arrow {
  position: absolute;
  top: 17px;
  right: 43px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #4d90fe;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.chat-form .btn-cont .btn {
  margin-top: 8px;
}
.chat-form .btn-cont:hover .arrow {
  border-right-color: #0362fd;
}
.chat-form .btn-cont:hover .btn {
  background-color: #0362fd;
}


/***/
.no-border {
  border: 0;
  height: auto;
}

.connect-btn {
  vertical-align: top;
  text-decoration: none !important;
  padding: 15px 10px 10px;
  font-size: 12px;
  display: inline-block;
  min-width: 150px;
  text-align: center;
  position: relative;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  margin-bottom: 25px;
}
.connect-btn .connected {
  position: absolute;
  color: #009900;
  top: 55px;
  left: 45%;
}
.connect-btn.blue {
  background-color: #0081c2;
  color: #fff;
}
.connect-btn.red {
  background-color: #de3d3b;
  color: #fff;
}
.connect-btn i {
  font-size: 25px;
}

.media-body.has-exception {
  background-color: #e5e5e5;
  margin: -5px;
  padding: 5px;
}


.dashboard-stat.favourite .details{
  left: 107px !important;

}
.dashboard-stat.favourite .desc{
  text-align:left !important;
  font-size: 13px !important;
}
.dashboard-stat.favourite .desc .text-overflow {
  height: 40px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;

}

.dashboard-stat.favourite .number{
  font-size: 20px !important;
  text-align: left !important;
  padding-top: 11px !important;
  letter-spacing: 0 !important;
  line-height: 28px !important;
}

.dashboard-stat.favourite .visual {
  padding-top: 17px;
}


@media screen and (max-width: 480px){
  .form-recaptcha-img{
    width: 100% !important;
  }
  .form-recaptcha-img #recaptcha_image{
    width: 100% !important;
  }
  .form-recaptcha-img #recaptcha_image #recaptcha_challenge_image{
    width: 100% !important;
    height: auto !important;
  }
  #recaptcha_widget .input-group{
    width: 100% !important;
  }
}


.page-loading {
  z-index: 9999999;
}

.ms-container {
  width: 100%;
  max-width: 600px;
}

.form-group .text{
  padding: 8px 0;
}

.no-left-padding {
  padding-left: 0;

}



.multifile-container {
  margin-bottom: 15px;
}
.multifile-container .multifile-select-btn {

}
.multifile-container .multifile-files-container {
  margin-top: 2px;
}
.multifile-container .multifile-files-container .multifile-filename {
  font-family: sans-serif;
  color: #333;
  padding: 3px 0;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.multifile-container .multifile-files-container .multifile-filename .single-filename {

}

.login-options.register-fix {
  margin: 15px 0 10px;
}

.responsive-content img {
  max-width: 100% !important;
  height: auto !important;
}

.responsive-content table {
  table-layout: fixed !important;
  width: 100% !important;
  max-width: 100% !important;
}


@media screen and (min-width: 980px){
  .tt-dropdown-menu{
    width: 650px;
  }
}

.quick_searchbar .submit {
  color: #aaa;
  text-decoration: none;
}

.media-body .media-heading {
  font-size: 16px;
  margin-bottom: 4px;
  margin-top: 0;
  line-height: 16px;
  color: #333;
  font-weight: 400;
}

.media-body p {
  font-size: 13px;
  color: #999
}

.media.has-exception {
  border-right: 3px solid #1caf9a;
}

.media.small {
  padding-top: 2px;
}
.media.small .media-body .media-heading {
  font-size: 13px;
  margin-bottom: 2px;
  margin-top: 0;
  line-height: 13px;
  color: #333;
  font-weight: 400;
}

.media.small .media-body p {
  font-size: 11px;
  color: #999;
  margin: 0;
  line-height: 14px;
}

.media.small .media.has-exception {
  border-right: 3px solid #1caf9a;
}

.page-header.navbar .search-form.search-form-expanded .input-group .form-control {
  padding-left: 13px;
}


label.hover {
  cursor: pointer;
}

.feature-btn-big {
  margin-bottom: 5px;
  text-align: center;
}

.btn-feature-xs {
  width: 40px;
  height: 40px;
  background-color: #E26A6A;
  border-radius: 7px !important;
  margin: 0 auto;
}
.btn-feature-xs i{
  font-size: 25px;
  line-height: 40px;
  color: #fff;
}








.floating-menu{
  position:fixed;
  right: 15px;
  bottom: 15px;
  z-index: 9999;
}

.floating-menu .floating-menu-container{
  position: relative;
}

.floating-menu .button-action{
  display:block;
  text-align:center;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 60px;
}
.floating-menu .button-action i{
  color: #fff;
  font-size:30px;
  line-height: 60px;
  background-color: red;
  width: 60px;
  height: 60px;

  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}

.floating-menu .menu-links{
  display:none;
  position:absolute;
  bottom: 60px;
  right: 0;
  width: 200px;
  margin:0;
  padding: 0;
  list-style-type:none;
}

.floating-menu .menu-links li{
  position:relative;
  height: 60px;
  margin-right: 3px;
}

.floating-menu .menu-links li a{
  text-decoration:none;
}
.floating-menu .menu-links li a .icon{
  position: absolute;
  right: 5px;
  text-align:center;
}
.floating-menu .menu-links li a .icon i{
  color: #fff;
  font-size: 20px;
  line-height:45px;
  width: 45px;
  height: 45px;
  background-color: green;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.35);
}
.floating-menu .menu-links li a .title{
  position: absolute;
  right: 60px;
  top: 14px;
  width: 100%;
  text-align:right;
}
.floating-menu .menu-links li a .title span{
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  padding: 3px 10px;
  font-size:14px;
  font-family: 'Open Sans';
  -webkit-border-radius: 500px  !important;
  -moz-border-radius: 500px  !important;
  border-radius: 500px !important;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.35);
}

.floating-btn-red{
  background-color: #f34135 !important;
}
.floating-btn-pink{
  background-color: #e91d62 !important;
}
.floating-btn-purple{
  background-color: #9b27ae !important;
}
.floating-btn-indigo{
  background-color: #3e50b4 !important;
}
.floating-btn-blue{
  background-color: #2095f2 !important;
}
.floating-btn-teal{
  background-color: #019587 !important;
}
.floating-btn-green{
  background-color: #4bae51 !important;
}

@-webkit-keyframes floating-action-button{
  0%{

  }
  100% {
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);
  }
}

@-moz-keyframes floating-action-button{
  0%{

  }
  100% {
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);
  }
}

@-ms-keyframes floating-action-button{
  0%{

  }
  100% {
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);
  }
}

@keyframes floating-action-button{
  0%{

  }
  100% {
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);
  }
}

@-webkit-keyframes floating-action-menu{
  0%{
    height: 0;
  }
  40%{
    height: 70px;
  }
  80% {
    height: 53px;
  }
}

@-moz-keyframes floating-action-menu{
  0%{
    height: 0;
  }
  40%{
    height: 70px;
  }
  80% {
    height: 53px;
  }
}

@-ms-keyframes floating-action-menu{
  0%{
    height: 0;
  }
  40%{
    height: 70px;
  }
  80% {
    height: 53px;
  }
}
@keyframes floating-action-menu{
  0%{
    height: 0;
  }
  40%{
    height: 70px;
  }
  80% {
    height: 53px;
  }
}


.floating-menu.open .button-action{
  -webkit-animation: floating-action-button 0.3s ease ;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: floating-action-button 0.3s ease ;
  -moz-animation-fill-mode: forwards;
  animation: floating-action-button 0.3s ease ;
  animation-fill-mode: forwards;
}

.floating-menu .menu-links.open{
  display:block;
}
.floating-menu .menu-links.open li{
  -webkit-animation: floating-action-menu 0.3s ease;
  -moz-animation: floating-action-menu 0.3s ease;
  animation: floating-action-menu 0.3s ease;
}

@media screen and (max-width: 640px) {

}
.map-wrapper{
  position:relative;
  overflow: hidden;
}

.map-wrapper .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  display: block;
  top: 0;
  left: 0;
}
.map-wrapper.enabled .overlay {
  display: none;
}
.map-wrapper .locker{
  position: absolute;
  top: 30px;
  right: 10px;
  z-index: 12;
}
.map-wrapper .locker .locked {
  display: block;
}
.map-wrapper .locker .unlocked {
  display: none;
}
.map-wrapper.enabled .locker .locked {
  display: none;
}
.map-wrapper.enabled .locker .unlocked {
  display: block;
}
.map-wrapper .locker i{
  background-color: #f5f5f5;
  font-size: 25px;
  line-height:25px;
  padding: 10px;
  border-radius: 500px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  cursor: pointer;
}


.search-classic {
  margin-top: 10px;
  padding: 10px 10px;
  border: 1px solid #fff;
}

.search-classic:hover{
  border-color: #44b6ae;
  cursor: pointer;
}

.search-classic .result-row{

}

.search-classic .result-row .image{
  width: 10%;
  float:left;
}

.search-classic .result-row .description{
  width: 90% ;
  float:left;
  padding-left: 15px
}
.search-classic .clear{
  clear:both;
}

.search-classic h4{
  margin-top: 0;
}



.page-spinner-bar > div, .block-spinner-bar > div {
  background: #000;
}

.page-header.navbar .page-logo .logo-default {
  margin: 0px 0 0 0;
}

.remember-me-tick{
  padding-top: 8px;
}

#enable-edit .edit{
  display: inline-block;
}
#enable-edit .view{
  display: none;
}

#enable-edit.open .edit{
  display: none;
}
#enable-edit.open .view{
  display: inline-block;
}

/* editable form override */
.form-horizontal .editable{
  padding-top: 7px !important;
}
.form-horizontal .editable.editable-open{
  padding-top: 5px !important;
}

.plain-text-force,
.plain-text-force > *
{
  font-size: 13px !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 15px;
  overflow: hidden;
}

.btn .not-loading{
  display: block;
}
.btn .loading{
  display: none;
}

.btn.loading .not-loading{
  display: none;
}
.btn.loading .loading{
  display: block;
}

.dropzone {
  min-height: 100px
}
.dropzone .dz-default.dz-message {
  width: 271px;
  height: 75px;
  margin-left: 0;
  margin-top: -61.5px;
  top: 73%;
  left: 10%;
  background-size: 91%;
}

.bootstrap-filestyle .form-control{
  background: none;
  border: 0;
}


/** MQTT API **/

.portlet-api {
}

.portlet-api .heading {
  border-bottom: 1px solid #dadada;
  padding-bottom: 5px;
}

.portlet-api .heading .title {
  font-size: 16px;
  font-weight: 600;
  float: left;
}

.portlet-api .heading .title small{
  font-size: 11px;
  font-weight: 400;
  margin-left: 5px;
  color: #999;
}

.portlet-api .heading .actions {
  float: right;
}

.portlet-api .heading .actions .btn{
  font-size:12px;
  padding:5px 10px;;
  border: 0;
}

.widget-channel {
  margin: 5px 0 10px;
}

.widget-channel .overview {
  padding: 8px 0;
  cursor: pointer;
}

.widget-channel .title {
  float: left;
  font-size: 14px;
  font-weight: 600;
  padding-top: 4px;
}

.widget-channel .value {
  float: right;
  font-size: 20px;
}

.widget-channel .details {
  display:none;
}

.widget-channel .details .detail-overview {
  padding: 8px 0;
}

.widget-channel .details .detail-overview .name {
  float: left;
  font-size: 12px;
}

.widget-channel .details .detail-overview .value {
  float: right;
  font-size: 12px;
  font-weight: 400;
}

.widget-channel .details .details-data {
  padding: 10px 8px;
}
.widget-channel .details .details-data img{
  max-width: 100%;
}

.widget-channel .details .detail-actions {
  border-top: 1px solid #dadada;
  padding: 10px 7px
}

.widget-channel .details .detail-actions a {
  font-size: 13px;
  margin-right: 7px
}


/* open class */
.widget-channel.open {
  background-color: #f0f0f0;
  padding: 7px 10px;
  border: 1px solid #dadada;
}
.widget-channel.open .details{
  display:block;
}



/* add channel css */
.widget-channel-add{
  margin-bottom: 30px;
}
.widget-channel-add .overview{
  display: block;
}
.widget-channel-add .widget-form{
  display: none;
}

.widget-channel-add.open{
  padding: 15px 20px;
  background-color: #e4e4e4;
}
.widget-channel-add.open .overview{
  display: none;
}
.widget-channel-add.open .widget-form{
  display: block;
}