.hd_tit{    background-color: #fff;    padding: 10px 0;    text-align: center;    font-weight: bold;    font-family: roboto;}
@media(min-width:992px) and (max-width:1199px){
    .lg img {  width: 37%;}
    .lg::before{left: 102px; top: 75px; font-size: 8px;}
    .lg::after{background: rgba(0, 0, 0, 0) url("../img/ti1.png") no-repeat scroll 0 0 / 38% auto;   left: 40%; top: 20px;}
    .navbar-inverse{margin: 20px 0 0 !important;}
    .carousel-caption{width:420px;}
    .slider_message .carousel-caption p{font-size: 12px;}
    .slider_message .carousel-caption h5, .slider_message .carousel-caption h1 { font-size: 25px !important;}
    .slider_message .carousel-caption h4{margin-top: 20px;}
}
@media(min-width:768px) and  (max-width:991px){
    .lg::after{background: rgba(0, 0, 0, 0) url("../img/ti1.png") no-repeat scroll 0 0 / 140px auto;}
    .lg::before{font-size: 6.5px; left: 88px;top: 70px;}
    .social{position: absolute;right: 0;top: 0;}
    .toplinks {  padding: 20px 0 0; }
    .navbar-inverse{margin: 25px 0 0 !important;}
    .carousel-caption{left: 15%;top: 5px;}
    .slider_message .carousel-caption h5, .slider_message .carousel-caption h1{font-size: 20px;}
    .slider_message .carousel-caption p{font-size: 11px;}
    .slider_message .carousel-caption h4{margin: 12px 0 0;}
    .register{padding: 5px 20px;}
    .yellow h4{text-transform: capitalize;}
    .yellow{padding-right: 10px;}
    .yellow a::after{right:0;}
}

@media(min-width:320px) and (max-width:767px){
    .yellow{padding-right: 0;}
    .yellow div{overflow: hidden;}
    .yellow h4{text-transform: capitalize;}
    .toplinks{text-align: center;}
    ul.nav.navbar-nav{width:100%;}
    .dropdown-menu{  background-color:#00386B !important;}
    .dropdown-menu li a, .dropdown-header{ color:#fff !important;}
    .divider{background-color:#fff !important;}
    .lg img{width:15%; margin-bottom: 10px;}
    .lg::after{background: rgba(0, 0, 0, 0) url("../img/ti1.png") no-repeat scroll 0 0 / 200px auto; left: 18% !important;  }
    .navbar-inverse{margin: 0 !important}
    .carousel-caption {  left: 7%;  right: 20%; top: 5px;  width: 500px;}
    .slider_message .carousel-caption h4{margin:5px 0 0 0;}
    .slider_message .carousel-caption h5, .slider_message .carousel-caption h1{font-size: 20px;}
    .slider_message .carousel-caption p{font-size: 11px;}
    .slider_message .carousel-caption a{display: none;}
    .browse ul{padding: 20px 5px 40px 30px;}
}
@media(min-width:320px) and (max-width:767px){
    .lg::after{background: rgba(0, 0, 0, 0) url("../img/ti1.png") no-repeat scroll 0 0 / 130px auto; top: 12px; left: 18% !important;  }
    .lg::before{display: none;}
    .sea .col-xs-12{margin: 3px 0;}
    .sea .submit{width:100%;}
    .sea > div{margin: 4px 0;}
    .yellowbg div:first-child::after{background: transparent;}
    .visit {    padding: 32px 0px 0px;}
    .visit a{padding: 10px;}
    .sign{margin: 30px 0 0 0;}
}

@media(min-width:500px) and (max-width:768px){
    .lg::after{background: rgba(0, 0, 0, 0) url("../img/ti1.png") no-repeat scroll 0 0 / 190px auto;}
}
@media(min-width:600px) and (max-width:768px){
    .lg img {    width: 13%;}
}

@media(min-width:768px) and (max-width:942px){
    .social {    width: 6%;}
    .sign{    margin: 30px 0 0 20%;}
    .social_inner {    top: -25px;}
}